.generalContainerBody {
  @include flexGeneral;
  z-index: 1;
  .container {
    @include scaleContent;
    height: 650px;
    background-color: $sub_bgColor2;
  }
  .top_title {
    height: 74px;
    background-color: $bgColor;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: right;
    @include myh2();
  }

  .bottomLeft {
    width: 33.33%;
  }
  bottomRight {
  }

  img {
  }
}
